[Unit]
Description=ASP.NET Core Web App
After=network.target

[Service]
WorkingDirectory=/usr/local/bin/my-subreddit-instance
ExecStart=/usr/bin/dotnet /usr/local/bin/my-subreddit-instance/my-subreddit-instance.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=my-subreddit-instance
User=ec2-user
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://localhost:65010
Environment=CLIENT_ID=Qk_euOdX0E7h4XmQXRWwhA
Environment=CLIENT_SECRET=aL4M-byXiRGWBNQAiUylEAgFxG_kuw
Environment=REDIRECT_URI=http://reddit-LB-104881215.us-east-1.elb.amazonaws.com/api/auth/reddit_callback
Environment=USER_AGENT="SubrebbitJack by Alternative_Ruin360"
Environment=SITE_URL=http://reddit-LB-104881215.us-east-1.elb.amazonaws.com

[Install]
WantedBy=multi-user.target